.header-top{
    background: #000;
    color: aliceblue;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    border-color: aliceblue;
    
}
.header-bottom{
    background: #000;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        .header-item{
            margin-right: 20px;
            position: relative;
            &:last-child{
                margin-right: 0px;
            }
            &::after{
                background: #fff;
                bottom: -3px;
                content: "";
                height: 1px;
                left: 0;
                position: absolute;
                transition: -webkit-transform .5s;
                transition: transform .5s;
                transition: transform .5s,-webkit-transform .5s;
                width: 100%;
            }
            &:not(:hover)::after{
                webkit-transform: scalex(0);
                transform: scalex(0);
            }
        }
    }
}