.title{
    font-weight: 500;
    font-size: 38px;
    text-transform: uppercase;
}
.product-list{
    margin-top: 50px;
    text-align: -webkit-center;
    .product-list-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1360px;
        

    }
}