<a class="category-product" href=""*ngFor="let product of products">
    <div class="category-product-cover">
        
        <img class="product-img" src="{{product.image}}" alt="">
        <div class="price">
            <div class="price-current">{{product.price|currency}}</div>
        </div>
        <div class="product-blackout" id="hoverable"></div>
        <button class="more-btn" id="hoverable">More</button>
    </div>
    <button class="category-product-name">{{product.title}}</button>
</a>